<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 d-none d-md-block">
      <div class="sidebar_fixed">
        <%= render 'rooms/rooms', rooms: @rooms %>
      </div>
    </div>
    <div class="col-md-7", style="padding: 0;">
      <h1 class="text-center"><%= @user.name %></h1>
      <div class="media">
        <%if @user.image? %>
          <div id="profile-image1">
            <%= image_tag @user.image.url, :size => "144x144", :style => "border-radius: 50%;" %>
          </div>
          <div id="profile-image2">
            <%= image_tag @user.image.url, :size => "80x80", :style => "border-radius: 50%;" %>
          </div>
        <% else %>
        <div id="profile-icon1">
          <i class="fas fa-user-circle" style="font-size: 9rem;"></i>
        </div>
        <div id="profile-icon2">
          <i class="fas fa-user-circle" style="font-size: 5rem;"></i>
        </div>
        <% end %>
        <div class="media-body">
          <% if current_user == @user %>
           <%= link_to "プロフィールの編集", edit_user_path, class: 'btn btn-outline-primary btn-sm', :style => "position: absolute; right: 15px;" %>
          <% end %>
          <div class="self_introduction">
           <%= @user.self_introduction %>
          </div>
        </div>
      </div>
      <ul class="nav nav-tabs nav-justified mb-3">
        <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link<%= "active" if current_page?(user_path(@user)) %>"></a>投稿一覧<span class="badge badge-secondary"></span></a></li>
      </ul>
      <%= render "microposts/microposts", microposts: @microposts %>
    </div>
    <div class="col-md-3 right-sidebar1">
      <div class="sidebar_fixed right-sidebar2">
        <%= render "layouts/right_sidebar" %>
      </div>
    </div>
  </div>
</div>





 
   