<div class="split">
  <div class="split-item split-left">
    <div class="split-left__inner">
      チャンネル
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <h3 class="text-center"><%= @room.name %></h3>
      <%= link_to "新規作成", new_micropost_path, id: @room.id %>
      
      <ul class="nav nav-tabs nav-justified mb-3">
        <li class="nav-item"><a href="<%= room_path(@room) %>" class="nav-link<%= "active" if current_page?(room_path(@room)) %>"></a>投稿一覧<span class="badge badge-secondary"><%= @aount_microposts %></span></a></li>
      </ul>
      <%= render "microposts/microposts", microposts: @microposts %>         
    </div>
    <div class="split-item split-right col-md-3">
      <div class="split-right__inner">
        お知らせ
      </div>
    </div>
  </div>
</div>