<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 d-none d-md-block" style="border-right: solid 1px #cccccc; padding: 0;">
      <div class="sidebar_fixed">
        <%= render 'rooms/rooms', rooms: @rooms %>
      </div>
    </div>
    <div class="col-md-7", style="padding: 0;">
      <h3 class="text-center"><%= @room.name %></h3>
      <%= link_to "新規作成", new_micropost_path(room_id: @room.id), class: "btn btn-outline-primary btn-sm", :style => "right: 15px;" %>
      <ul class="nav nav-tabs nav-justified mb-3">
        <li class="nav-item"><a href="<%= room_path(@room) %>" class="nav-link<%= "active" if current_page?(room_path(@room)) %>"></a>投稿一覧<span class="badge badge-secondary"><%= @aount_microposts %></span></a></li>
      </ul>
      <%= render "microposts/microposts", microposts: @microposts %>     
    </div>
    <div class="col-md-3" style="border-left: solid 1px #cccccc;">
      <div class="sidebar_fixed" style="padding-top: 10px; padding-bottom: 20px;">
        <%= render "layouts/right_sidebar" %>
      </div>
    </div>
  </div>
</div>





