<div>
  <% microposts.each do |micropost| %>
    <div class="media mb-2">
      <img class="mr-2 rounded" src="<%= gravatar_url(micropost.user, { size: 40 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to micropost.user.name, user_path(micropost.user) %> <span class="text-muted">・ <%= l micropost.created_at, format: :short %></span>
        </div>
          <p><%= simple_format(micropost.content) %></p>
        <div>
          <% if current_user == micropost.user %>
          <%= link_to "削除", micropost, method: :delete, data: { confirm: "本当に削除してもよろしいですか？" }, class: "btn btn-danger btn-sm" %>
          <%= link_to "編集", edit_micropost_path(@micropost.id) %>
          <% end %>
        </div>
        
      </div>
    </div>
  <% end %>
  <%= paginate microposts %>
</div>