<div>
  <% microposts.each do |micropost| %>
    <div class="media border">
      <%if micropost.user.image? %>
        <div id="img">
          <%= image_tag micropost.user.image.url, :size => "48x48", :style => "border-radius: 50%;" %>
        </div>
      <% else %>
        <div id="icon1">
          <i class="fas fa-user-circle"></i>
        </div>
      <% end %>
      <div class="media-body">
        <div style="margin-top: 5px;">
          <%= link_to micropost.user.name, user_path(micropost.user) %> <span class="text-muted">・ <%= l micropost.created_at, format: :short %></span>
          <span class="text-muted" id="menu1">
            <div class="dropdown　media-body">
              <% if current_user == micropost.user %>
                <button class="btn btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onfocus="this.blur();">
                  <i class="fas fa-chevron-down"></i>
                </button>
                <div class="dropdown-menu rounder-lg shadow" aria-labelledby="dropdownMenuButton">
                  <div class="dropdown-item"><i class="far fa-edit"></i><%= link_to "　編集", edit_micropost_path(micropost) %></div>
                  <div class="dropdown-item"><i class="far fa-trash-alt"></i><%= link_to "　削除", micropost, method: :delete, data: { confirm: "本当に削除してもよろしいですか？" } %></div>
                </div>
              <% end %>
            </div>
          </span>
        </div>
        <%= simple_format(micropost.content) %>
        <%= image_tag micropost.image.url if micropost.image? %>
      </div>
    </div>
  <% end %>
  <br>
  <%= paginate microposts %>
</div>