<div>
  <% microposts.each do |micropost| %>
    <div class="media mb-8 border">
      <%if micropost.user.image? %>
          <%= image_tag micropost.user.image.url, :size => "48x48", :style => "border-radius: 50%;" %>
      <% else %>
        <i class="fas fa-user-circle", style="font-size: 3rem; margin-right: 10px;"></i>
      <% end %>
      <div class="media-body">
        <div>
          <%= link_to micropost.user.name, user_path(micropost.user) %> <span class="text-muted">・ <%= l micropost.created_at, format: :short %></span>
          <span class="text-muted" id="menu1">
            <div class="dropdown dropleft" "media-body">
              <button class="btn dropdown-toggle btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onfocus="this.blur();">
              <i class="fas fa-chevron-down"></i>
              </button>
              <div class="dropdown-menu rounder-lg shadow" aria-labelledby="dropdownMenuButton">
                <% if current_user == micropost.user %>
                  <div class="dropdown-item"><i class="far fa-trash-alt"></i><%= link_to "　削除", micropost, method: :delete, data: { confirm: "本当に削除してもよろしいですか？" } %></div>
                  <div class="dropdown-item"><i class="far fa-edit"></i><%= link_to "　編集", edit_micropost_path(micropost) %></div>
                <% else %>
                  <div class="dropdown-item"><i class="far fa-flag"></i>　報告</div>
                <% end %>
              </div>
            </div>
          </span>
        </div>
        <%= simple_format(micropost.content) %>
        <%= image_tag micropost.image.url if micropost.image? %>
      </div>
    </div>
  <% end %>
  <br>
  <%= paginate microposts %>
</div>