<header class="mb-4">
  <nav class="navbar navbar-dark fixed-top">
    <a class="navbar-brand" href="/">e-MOVE</a>
    <% if logged_in? %>
      <div id="myicon">
        <%= link_to user_path(current_user), target: "_self" do %>
          <%if current_user.image? %>
            <%= image_tag current_user.image.url, :size => "32x32", :class => "nav-image" %>
          <% else %>
            <i class="fas fa-user-circle"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" onfocus="this.blur();">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="active dropdown">
          <a class="nav-link dropdown-toggle navbar-menu" href="#" data-toggle="dropdown">
            Coll of Duty
          </a>
          <ul class="dropdown-menu">
            <a href="/rooms/5", class="dropdown-item">CoD:WZ</a>
            <a href="/rooms/1", class="dropdown-item">CoD:MW</a>
            <a href="/rooms/2", class="dropdown-item">CoD:BO4</a>
            <a href="/rooms/3", class="dropdown-item">CoD:WWⅡ</a>
            <a href="/rooms/4", class="dropdown-item">CoD:IW</a>
            <a href="/rooms/6", class="dropdown-item">CoD:BO3</a>
          </ul>
        </li>
        <li class="active dropdown">
          <a class="nav-link dropdown-toggle navbar-menu" href="#" data-toggle="dropdown">
            Battlefield
          </a>
          <ul class="dropdown-menu">
            <a href="/rooms/7", class="dropdown-item">BFV</a>
            <a href="/rooms/8", class="dropdown-item">BF1</a>
            <a href="/rooms/9", class="dropdown-item">BF4</a>
          </ul>
        </li>
        
        <li><a href="/rooms/10", class="navbar-menu">R6S</a></li>
        <li><a href="/rooms/11", class="navbar-menu">Overwatch</a></li>
        <li><a href="/rooms/12", class="navbar-menu">Apex Legends</a></li>
        <li><a href="/rooms/13", class="navbar-menu">PUBG</a></li>
        <li><a href="/rooms/14", class="navbar-menu">荒野行動</a></li>
        <li><a href="/rooms/15", class="navbar-menu">フォートナイト</a></li>
        
        
        
        <p style="border-top: double 1px #FFFFFF; margin: 8px;"></p>
        <% if logged_in? %>
          <li class="nav-item"><%= link_to "お問い合わせ", new_inquiry_path, class: "navbar-menu" %></li>
          <li class="nav-item active"><%= link_to "ログアウト", logout_path, method: :delete, class: "navbar-menu" %></li>
        <% else %>
          <div class="nav-item dropdown"></div>
            <li class="nav-item active"><%= link_to "サインアップ", signup_path, class: "navbar-menu" %></li>
            <li class="nav-item active"><%= link_to "ログイン", login_path, class: "navbar-menu" %></li>
          </div>
        <% end %>      
      </ul>
    </div>
  </nav>
</header>