<header class="mb-4">
  <nav class="navbar navbar-dark fixed-top">
    <a class="navbar-brand" href="/">e-MOVE</a>
    <% if logged_in? %>
      <div id="myicon">
        <%= link_to user_path(current_user), target: "_self" do %>
          <%if current_user.image? %>
            <%= image_tag current_user.image.url, :size => "32x32", :style => "border-radius: 50%; margin-top: 4px;" %>
          <% else %>
            <i class="fas fa-user-circle", style="font-size: 2rem; margin-top: 4px;"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <%= render 'rooms/rooms', rooms: @rooms %>
        <% if logged_in? %>
          <li class="nav-item active"><%= link_to "お問い合わせ", new_inquiry_path, class: "nav-link" %></li>
          <li class="nav-item active"><%= link_to "ログアウト", logout_path, method: :delete, class: "nav-link" %></li>
        <% else %>
          <div class="nav-item dropdown"></div>
            <li class="nav-item active"><%= link_to "サインアップ", signup_path, class: "nav-link" %></li>
            <li class="nav-item active"><%= link_to "ログイン", login_path, class: "nav-link" %></li>
          </div>
        <% end %>      
          
      </ul>
    </div>
  </nav>
</header>